src/*.o
src/hydra_selftest
src/hydrad
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
doc/Makefile
doc/Makefile.in
libtool
src/.deps/
src/.dirstamp
src/.libs/
src/libhydra.la
src/libhydra.pc
src/platform.h
src/platform.h.in
src/src_libhydra_la-hydra_client.lo
src/src_libhydra_la-hydra_msg.lo
src/src_libhydra_la-hydra_server.lo
src/stamp-h1
target
.nrepl-port
.lein-failures
*~
doc/*.3
doc/*.7

